.pagination {
    display: flex;
    justify-content: center;
}

.pagination_list {
    display: flex;
    list-style: none;

    padding: 40px 0 0 0;
    user-select: none;
}

.pagination_item {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    border-radius: 10px;
}

.pagination_link {
    color: inherit;
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.pagination_item:hover {
    background-color: #eee;
}

.pagination_active {
    background-color: #007bff;
    color: #fff;
}