@import url('utils/modern-normalize.css');
@import url('utils/normalize-plus.css');
@import url('utils/visually-hidden.css');
@import url("utils/varieble.css");

@import url('header.css');
@import url('hero.css');
@import url('gallery.css');
@import url('film_card.css');
@import url('oneFilm.css');
@import url('pagination.css');

.container {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
    width: 320px;

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-left: 75px;
        padding-right: 75px;
    }

    @media screen and (min-width: 1024px) {
        width: 1024px;
        padding-left: 71px;
        padding-right: 71px;
    }
}

.message {
    position: fixed;
    top: 0;
    right: 0;
    background-color: aqua;
    padding: 20px;
    border-radius: 10px;
}

.main__btn_box {
    display: flex;
    justify-content: space-evenly;
}

.main__btn,
.main__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--accent-color);
    margin: 20px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.33;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;
    height: 44px;
    width: 112px;
    user-select: none;
    border: 1px solid;
}

.rating {
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--accent-color);
}

.main__link_icon {
    display: flex;
    height: 35px;
    width: 35px;
    margin-bottom: 18px;
}

.main__control {
    position: absolute;
    top: 10px;
    right: 100px;
}

.deleteForm {
    position: fixed;
    top: 50%;
    right: 50%;
    translate: 50%;
    background-color: coral;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.deleteForm_control {
    display: flex;
    justify-content: space-evenly;
}